.formFilme{
    width: 1200px;
    height: 1520px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    background: linear-gradient(153deg,rgba(167, 79, 249, 0.4) 0%, rgba(13, 5, 54, 0.4) 76%);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
}

.formTitle{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 50px;
}
.linhaForm{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputForm{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    color: #fff;
    font-size: 28px;
    padding: 0px 30px 0 30px;
    font-weight: 500;
    margin-bottom: 65px;
}

.inputForm input{
    width: 100%;
    height: 55px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #A74FF9;
    background-color: #2D1257;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
}

.inputForm input::placeholder{
    color: #fff;
}

.inputForm textarea{
    width: 1020px;
    height: 200px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #A74FF9;
    background-color: #2D1257;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    resize: none;
}

.inputForm textarea::placeholder{
    color: #fff;
}

.buttonForm{
    width: 400px;
    height: 75px;
    background-color: #A74FF9;
    border: none;
    color: #0D0536;
    font-size: 34px;
    font-weight: 600;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 30px;
}

.buttonForm:hover{
    transform: scale(1.1);
    transition: 250ms ease-in-out;
}