.gridFilmesUnresult{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleGridFilmes{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

.textGridFilmes{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.gridFilmes{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.gridContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}