.categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.categorias h1{
    width: 100%;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 40px;
}
