.mainLogin{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 83px;
    background: linear-gradient(180deg,rgba(13, 5, 54, 1) 23%, rgba(45, 18, 87, 1) 61%, rgba(110, 40, 175, 1) 100%);
}

.formLogin{
    width: 650px;
    height: 779px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    background: linear-gradient(153deg,rgba(167, 79, 249, 0.4) 0%, rgba(13, 5, 54, 0.4) 76%);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
    padding: 50px 0px 50px 0px;
}

.imageLogin{
    width: 240px;
    margin-bottom: 45px;
}

.imageLogin img{
    width: 100%;
    height: 100%;
}

.loginTitle{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 50px;
}

.inputLogin{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    width: 95%;
    color: #fff;
    font-size: 22px;
    padding: 0px 30px 0 30px;
    font-weight: 500;
    margin-bottom: 65px;
}

.inputLogin #senha, #email{
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #A74FF9;
    background-color: #2D1257;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
}

.inputLogin #senha::placeholder, #email::placeholder{
    color: #fff;
}

.buttonLogin{
    width: 280px;
    height: 50px;
    background-color: #A74FF9;
    border: none;
    color: #0D0536;
    font-size: 26px;
    font-weight: 600;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 30px;
}

.buttonLogin:hover{
    transform: scale(1.07);
    transition: 250ms ease-in-out;
}