.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px 15px 45px;
    background: rgba(91, 91, 91, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    position: absolute;
    z-index: 2;
}

.logoNavbar{
    width: 80px;    
}

.logoNavbar img{
    width: 100%;
    height: 100%;
}

.links{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.link{
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.link:hover{
    transition: 300ms ease-in-out;
    transform: scale(1.12);
}

.fotoPerfil{
    width: 40px;
    height: 40px;
}

.fotoPerfil img{
    width: 100%;
    height: 100%;
}

.logoutButton{
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    background-color: #C80A00;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logoutButton img{
    width: 26px;
    height: 26px;
}

.logoutButton:hover{
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}