.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
    background: rgba(91, 91, 91, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
}

.logoNavbar{
    width: 75px;
}

.logoNavbar img{
    width: 100%;
    height: 100%;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 345px;
    height: 30px;
    cursor: pointer;
}

.search input{
    background: none;
    width: 90%;
    height: 100%;
    font-family: 'Montserrat', sansSerif;
    color: #fff;    
    border: none;
    border-bottom: 2.5px solid #fff;
    padding: 5px;
}

.search input::placeholder{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.search input:hover{
    transition: 350ms ease-in-out;
    transform: scale(1.05);
}

.search figure{
    width: 22px;
    height: 22px;
}

.search figure img{
    width: 100%;
    height: 100%;
}

.links{
    width: 520px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.link{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.link:hover{
    transition: 300ms ease-in-out;
    transform: scale(1.1);
}

.fotoPerfil{
    width: 36px;
    height: 36px;
}

.fotoPerfil img{
    width: 100%;
    height: 100%;
}