.flipCard {
  background-color: transparent;
  height: 585px; 
  width: 400px; 
  perspective: 1000px; 
  cursor: pointer;
  transition: transform 300ms ease-out;
}

.flipCard:hover {
  transform: translateY(-10px);
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipCardInner.flip{
  transform: rotateY(180deg);
}

.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardBack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background: #A74FF9;
    background: linear-gradient(158deg,rgba(167, 79, 249, 1) 0%, rgba(13, 5, 54, 1) 76%);
    border: 3px solid #A74FF9;
    border-radius: 22px;
    padding: 30px;
    transform: rotateY(180deg);
}

.cardFront{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    background: #A74FF9;
    background: linear-gradient(158deg,rgba(167, 79, 249, 1) 0%, rgba(13, 5, 54, 1) 76%);
    border: 4px solid #A74FF9;
    border-radius: 22px;
    padding: 30px;
}

.cardBack h2, .cardFront h2{
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

.cardFront p{
    text-align: center;
    color: #fff;
    width: 100%;
    font-weight: 400;
    font-size: 26px;
}
