.imagemBanner{
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 83%;
}

.imagemBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagemBanner::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background: radial-gradient(ellipse 65% 85% at center, rgba(0,0,0,0) 60%, rgba(4,4,4, 0.5) 80%, rgba(0,0,0, 0.8) 100%);  
}

.chipsBanner{
    width: fit-content;
    height: 50px;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
    top: 400px;
    left: 145px;
}

.botaoBanner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 55px;
    position: relative;
    top: 425px;
    left: 145px;
    border: 2px solid #fff;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.7);
    background: rgba(150, 150, 150, 0.4);
    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(4.0px);
}

.botaoBanner img{
    width: 35px;
    height: 35px;
}

.botaoBanner:hover{
    transform: scale(1.15);
    transition: 300ms ease-in-out;
    background-color: var(--roxo);
    border: none;
}
