.mainFilmes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: linear-gradient(180deg, rgba(13, 5, 54, 1) 23%, rgba(45, 18, 87, 1) 61%, rgba(110, 40, 175, 1) 100%);
}

.headerFilmes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0px 60px 0px;
}

.headerFilmes h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.adicionarFilme {
    width: 170px;
    height: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    border-radius: 6px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    background: rgba(150, 150, 150, 0.4);
    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(4.0px);
}

.adicionarFilme img {
    width: 25px;
    height: 25px;
}

.adicionarFilme:hover {
    transform: scale(1.05);
    transition: 300ms ease-in-out;
    background-color: var(--roxo);
    border: none;
}