header{
    width: 100%;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: linear-gradient(180deg,rgba(13, 5, 54, 1) 23%, rgba(45, 18, 87, 1) 61%, rgba(110, 40, 175, 1) 100%);
    position: relative;
    top: 593px;
}

.carrosselFilmes{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-direction: row;
    position: relative;
    top: -220px;
}

.secaoBoasVindas{
    width: 1750px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #10011B;
    background: linear-gradient(90deg,rgba(16, 1, 27, 1) 55%, rgba(110, 40, 175, 0.6) 100%);
    border-radius: 20px;
    box-shadow: -8px 8px 50px rgba(110, 40, 175, 0.6);
    padding: 40px;
    margin-bottom: 160px;
}

.mensagemBoasVindas{
    width: 45%;
}

.mensagemBoasVindas h2{
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 24px;
}

.mensagemBoasVindas p{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 10px;
}

.imagemBoasVindas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin-bottom: 145px;
}

.imagemBoasVindas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.destaque{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}

.destaque h1{
    width: 100%;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 40px;
}

.filmesDestaque{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.categorias{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 160px;
}

.categorias h1{
    width: 100%;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 40px;
}

.gridCategorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 88px;
}

.atores{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.atores h1{
    width: 100%;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 40px;
}

.gridAtores{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}