.filmeContainer{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -280px;
    z-index: 10;
}

.infoFilmeEspec{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.posterFilmeEspec{
    width: 320px;
    height: 570px;
}

.posterFilmeEspec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.dadosFilme{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    padding: 5px 50px 5px 50px;
}

.dadosFilme h1{
    font-size: 68px;
    color: #fff;
    font-weight: 700;
    text-shadow: -4px 5px 13px rgba(255, 255, 255, 0.4);
}

.anoFilme{
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    text-shadow: -4px 5px 13px rgba(255, 255, 255, 0.4);
}

.dadosFilme h3{
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    margin-top: 10px;
}

.sinopseFilme{
    width: 70%;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.chipsFilme{
    width: fit-content;
    height: 50px;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.buttonsFilme{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 20px 115px;
}

.botaoEditar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140px;
    height: 50px;
    background: rgba(91, 91, 91, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1.5px solid #fff;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
}

.botaoEditar img{
    width: 25px;
    height: 25px;
}

.botaoEditar:hover{
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}

.botaoDeletar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140px;
    height: 50px;
    background: #C80A00;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
}

.botaoDeletar img{
    width: 25px;
    height: 25px;
}

.botaoDeletar:hover{
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}