.mainSobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: linear-gradient(180deg,rgba(13, 5, 54, 1) 23%, rgba(45, 18, 87, 1) 61%, rgba(110, 40, 175, 1) 100%);
}

.tituloSobre{
    color: #fff;
    font-size: 110px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 85px;
}

.cardsSobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 130px;
}
.mensagemSobre{
    margin-top: 130px;
    margin-bottom: 20px;
    text-align: center;
    width: 1000px;
    color: #fff;
    font-size: 40px;
    font-style: italic;
    word-spacing: 5px;
    border-top: 2px solid #fff;
    padding-top: 70px;
}