.categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 140px;
    height: 140px;
    background-color: rgba(16, 1, 27, 0.75);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.categoria.active{
    background-color: #6E28AF;
}

.categoria h3{
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.categoria:hover{
    transform: scale(1.15);
    transition: 300ms ease-in-out;
}