.card{
    width: 200px;
    height: 350px;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover{
    transform: scale(1.15);
    transition: 350ms ease-in-out;
}

.posterFilme{
    position: absolute;
    width: 200px;
    height: 350px;
    border-radius: 10px;
}

.posterFilme img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.infoFilmeCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    width: 100%;
    height: 30%;
    position: relative;
    top: 70%;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.infoFilme{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
}

.infoFilmeCard h2{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.infoFilmeCard p{
    font-weight: 300;
    font-size: 13px;
    color: #fff;
}

