.card{
    width: 200px;
    height: 350px;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover{
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}

.posterFilme{
    position: absolute;
    width: 200px;
    height: 350px;
    border-radius: 10px;
}

.posterFilme img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.infoFilmeCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    width: 200px;
    height: 30%;
    position: relative;
    top: 70%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.infoFilme{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}

.infoFilmeCard h2{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    width: 100%;             
    white-space: nowrap;    
    overflow: hidden;        
    position: relative;     
}

.infoFilmeCard h2:hover {
    color: transparent; 
}

.infoFilmeCard h2:hover::after {
    content: attr(data-titulo); 
    position: absolute;
    top: 0;
    left: 0;
    color: #fff; 
    white-space: nowrap;
    width: auto; 
    animation: scroll-text 3s linear infinite alternate;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0);
    }
    
    20% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(min(0px, calc(180px - 100%)));
    }
    100% {
        transform: translateX(min(0px, calc(180px - 100%)));
    }
}

.infoFilmeCard p{
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    width: 100%;            
    white-space: nowrap;     
    overflow: hidden;        
    text-overflow: ellipsis; 
}

