.search{
    width: 600px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-radius: 15px;
    background-image: url('../../Assets/Icons/lupa.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 555px 10px;
    font-family: 'Montserrat', sansSerif;
    color: #6E28AF;
    font-size: 22px;
    font-weight: 500;    
    padding: 20px;
}

.search::placeholder{
    color: #6E28AF;
    font-size: 22px;
    font-weight: 500;
}
