.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 40px;
    cursor: pointer;
}

.search input{
    background: none;
    width: 90%;
    height: 100%;
    font-family: 'Montserrat', sansSerif;
    color: #fff;    
    border: none;
    border-bottom: 2.5px solid #fff;
    padding: 5px;
}

.search input::placeholder{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.search input:hover{
    transition: 350ms ease-in-out;
    transform: scale(1.05);
}

.search figure{
    width: 22px;
    height: 22px;
}

.search figure img{
    width: 100%;
    height: 100%;
}